
Library/*
*.cache
Temp/*
*.vs/*
.idea/*
.idea/.idea.UnityBookMarkSystem/.idea/.idea.UnityBookMarkSystem.iml
.idea/.idea.UnityBookMarkSystem/.idea/encodings.xml
.idea/.idea.UnityBookMarkSystem/.idea/indexLayout.xml
.idea/.idea.UnityBookMarkSystem/.idea/misc.xml
.idea/.idea.UnityBookMarkSystem/.idea/modules.xml
.idea/.idea.UnityBookMarkSystem/.idea/projectSettingsUpdater.xml
.idea/.idea.UnityBookMarkSystem/.idea/vcs.xml
.idea/.idea.UnityBookMarkSystem/riderModule.iml
.idea/.idea.UnityBookMarkSystem/.idea/indexLayout.xml
*obj\
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll.meta
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor/JetBrains.meta
Assembly-CSharp-Editor.csproj
.idea/.idea.UnityBookMarkSystem/.idea/indexLayout.xml
LinkBookMarkDLL/.vs/
LinkBookMarkDLL/LinkBookMarkDLL/bin/
LinkBookMarkDLL/LinkBookMarkDLL/obj/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
Assembly-CSharp-Editor-firstpass.csproj
Logs/Packages-Update.log
Logs/
LinBookMark.csproj
UnityBookMarkSystem.sln
